@media print{
    div.page{
        page-break-after: always;
        page-break-inside: avoid;
        
    }
    .tabla_respuestas, .tabla_respuestas > td { 
        border-spacing: 0;
        border-collapse: collapse;
        width:100%;
    }
    .tabla_respuestas > tbody > tr:nth-of-type(1) > td:nth-of-type(1){
      border-top: solid 1px black;
      border-left: solid 1px black;
      vertical-align: top;
    }
    .tabla_respuestas > tbody > tr:nth-of-type(1) > td:nth-of-type(2){
      border-top: solid 1px black;
      border-right: solid 1px black;
    }
    .tabla_respuestas > tbody > tr:nth-of-type(1) > td:nth-of-type(1)::after{
      content:"Operaciones";
      font-style:italic;
      font-size:.8em;
    }
    .tabla_respuestas > tbody > tr:nth-of-type(2) > td:nth-of-type(1){
      border-bottom: solid 1px black;
      border-left: solid 1px black;
    }
    .tabla_respuestas > tbody > tr:nth-of-type(2) > td:nth-of-type(2){
      border-top: solid 1px black;
      border-left: solid 1px black;
      width: 1%;
      height: 1%;
      white-space: nowrap;
    }
}
@media screen{
    .soluciones, .examen_completo{
        display: block;
        max-height: 1px;
        visibility: hidden;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      .just_screen{
        text-align: center;
        
        padding: 10px;
        width: max-content;
      }
}