/*@media (prefers-color-scheme: light) {
    #container {
      color: #ff9d47;
        background-color: #ff7700;
    }
  }*/
/*
  body{
      background-color: #F5F5F5;
  }
@media (prefers-color-scheme: dark) {
  body{
      background-color: #ff03c8;
  }
}
*/